@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap');

:root{
    --defaultColor1: #fff;
    --defaultColor2: #000;
    --mainColor1: #AF81C2;
    --mainColor2: #FAD5E5;
    --mainColor3: #213968;

    --mainfont: 'Noto Serif KR', serif;
    --subfont: 'Noto Sans KR', sans-serif;
}