

*{margin: 0; padding: 0; box-sizing: border-box; font-family: var(--mainfont); }
body{scroll-behavior: smooth;}

#wrap{
    width: 100%;
}

/*네브바 시작*/
#navbar{
    width: 100%;
    height: 80px;
    background-color: var(--defaultColor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}
    /*로고 시작*/
    #navbar .logo{
        width: 300px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*로고 끝*/
    /*메뉴 시작*/
    #navbar > .nav{
        font-weight: bold;
        padding: 0 30px;
    }
    #navbar > .nav > ul{
        display: flex;
        list-style-type: none;
    }
    #navbar > .nav > ul > li > a{
        display: inline-block;
        padding: 10px 30px;
        text-decoration: none;
        color: var(--mainColor1);
    }
    #navbar > .nav > ul > li > a:hover{
        border-radius: 50px;
        background-color: rgba(175, 129, 194, 0.1);
    }
    /*메뉴 끝*/

    /*햄버거 메뉴 시작*/
    /*햄버거 메뉴 끝*/
/*네브바 끝*/

/*풀스크린 슬라이드 화면 시작*/
#slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sliderWrap {
    display: flex;
}
.sliderWrap .slider img {
    vertical-align: top;
}
    
/*풀스크린 슬라이드 화면 끝*/

/*책 소개 시작*/
#introduce{
    width: 100%;
    height: 100vh;
    background-color: var(--mainColor2);
    position: relative;
}
#introduce::after{
    background-blend-mode: soft-light;
}
#introduce .blendmode{
    mix-blend-mode: soft-light;
}
#introduce > .blendmode > img{
    position: absolute;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    
}
/*책 소개 끝*/

/*카드 캐러셀 시작*/
#carousel{
    width: 100%;
    height: 100vh;
    background-color: var(--mainColor2);
    position: relative;
}
#carousel::after{
    background-blend-mode: soft-light;
}
#carousel .blendmode{
    mix-blend-mode: soft-light;
}
#carousel > .blendmode > img{
    position: absolute;
    transform: rotate(-180deg);
    width: 100%;
    height: 100%;
    
}
/*카드 캐러셀 끝*/

/*출판사 서평 시작*/
#bookReview{
    width: 100%;
    height: 100vh;
    background-color: var(--defaultColor1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}   
    /*픽시드 카드 시작*/
    #bookReview > .bR_card > img{
        position: absolute;
        right: 15%;
        top: 10%;
        transform: rotate(-35deg);
        transition: all 0.5s;
        z-index: 5;
        width: 300px;
        height: 360px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px var(--mainColor3);
        /* border: 0px solid var(--defaultColor1); */
    }
    #bookReview > .bR_card > img:hover{
        transform: rotate(-25deg);
        box-shadow: 0 0 20px 2px var(--mainColor3);
        border: 1px solid var(--defaultColor1);
    }
    /*픽시드 카드 끝*/

    /*출판사 리뷰 글 시작*/
    #bookReview > .bR_bg{
        width: 60%;
        height: 800px;
        box-shadow:  0 -5px 5px 1px var(--shadow);
        background-color: var(--defaultColor1);
        border-radius: 20px 20px 0 0;
        position: absolute;
        bottom: 0;
        left: 20%;
    }
    #bookReview > .bR_bg > #brtext{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    #bookReview > .bR_bg > #brtext > .bR_headtext{
        margin: 70px;
        width: 80%;
        font-size: 24px;
    }
    #bookReview > .bR_bg > #brtext > .bR_text{
        margin: 20px;
        width: 80%;
    }
    /*출판사 리뷰 글 끝*/
/*출판사 서평 끝*/

/*작가 소개 시작*/
#author{
    width: 100%;
    height: 100vh;
    background-color: var(--defaultColor1);
}
/*작가 소개 끝*/

/*책 속에서 시작*/
#summary{
    width: 100%;
    height: 100vh;
    background-color: var(--defaultColor1);
}
/*책 속에서 끝*/

/*구매자 리뷰 시작*/
#buyerReviews{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--defaultColor1), var(--mainColor2));
    position: relative;
}
#buyerReviews::after{
    background-blend-mode: soft-light;
}
#buyerReviews .blendmode{
    mix-blend-mode: soft-light;
}
#buyerReviews > .blendmode > img{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    
}
/*구매자 리뷰 끝*/

/*구매 링크 시작*/
#purchaseLink{
    width: 100%;
    height: 100vh;
    background-color: var(--mainColor2);
    position: relative;
}
#purchaseLink::after{
    background-blend-mode: soft-light;
}
#purchaseLink .blendmode{
    mix-blend-mode: soft-light;
}
#purchaseLink > .blendmode > img{
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    
}
/*구매 링크 끝*/
